{% extends "base.html" %}


{% block content %}
<form method="post" enctype="multipart/form-data">
{#    {{ form.as_p }}#}
        <div class="row mx-auto" style="height: 18rem">
{#            {{ form.non_field_errors }}#}
            <div class="col-md-2">
{#                <div class="fieldWrapper">#}
                    <div class="card border-primary" style="height: 12rem">
                        <div class="card-body">
                            <h5 class="card-title text-center"> Shop ID</h5>
                            <p> Fill in a number/letter of column with Shop ID</p>
                        </div>
        {#                    <p class="text-center"> Example: A </p>#}
                        <div class="card-footer bg-transparent">
                            <label for="id_shopID"></label>
                            <input id="id_shopID" type="text" name="shopID" placeholder="Example: A" required>

        {#                    <input type="submit>">#}
        {#                    <button type="submit">Confirm</button>#}
                        </div>
                    </div>
                </div>
            </div>
{#{{ form.non_field_errors }}#}
{#<div class="fieldWrapper">#}
{#    {{ form.shopID.errors }}#}
{#    <label for="{{ form.shopID.id_for_label }}"></label>#}
</div>
</form>
{% endblock %}


